@model Roads.Web.Mvc.Models.FeedbackToRouteNode
<div class="row">
    <div class="col-md-8 col-md-offset-1">@Model.OriginCityName.Split(',')[0] - @Model.DestinationCityName.Split(',')[0]</div>
</div>
