@model Roads.Web.Mvc.Models.TranslationViewModel

@Html.HiddenFor(e => e.Languages)

<tr>
    <td style="vertical-align: middle">
        @Html.DropDownListFor(m => m.LanguageId, Model.Languages, new { @class = "btn btn-default dropdown-toggle" })
    </td>
    <td>
        @Html.TextBoxFor(m => m.LanguageKey, new { @class = "form-control" })
    </td>
    <td>
        @Html.TextBoxFor(m => m.Value, new { @class = "form-control" })
    </td>
</tr>

