<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="DatabaseModelContainer"
     providerName="System.Data.EntityClient"
     connectionString="metadata=res://*/Models.DatabaseModel.csdl|res://*/Models.DatabaseModel.ssdl|res://*/Models.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=epuavinw0025.kyiv.epam.com;Initial Catalog=RoadsDataBase;User ID=sa;Password=admin;MultipleActiveResultSets=True  ;App=EntityFramework&quot;" />
    <add name="TranslationModelContainer"
     providerName="System.Data.EntityClient"
     connectionString="metadata=res://*/Models.TranslationModel.csdl|res://*/Models.TranslationModel.ssdl|res://*/Models.TranslationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=epuavinw0025.kyiv.epam.com;Initial Catalog=RoadsDataBase;User ID=sa;Password=admin;MultipleActiveResultSets=True  ;App=EntityFramework&quot;" />
  </connectionStrings>
</configuration>